* {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  border: none; }

@font-face {
  font-family: "FoundationIconsGeneral";
  src: url("../fonts/foundation-icons-general.eot");
  src: url("../fonts/foundation-icons-general.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons-general.woff") format("woff"), url("../fonts/foundation-icons-general.ttf") format("truetype"), url("../fonts/foundation-icons-general.svg#FoundationIconsGeneral") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FoundationIconsSocial";
  src: url("../fonts/foundation-icons-social.eot");
  src: url("../fonts/foundation-icons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons-social.woff") format("woff"), url("../fonts/foundation-icons-social.ttf") format("truetype"), url("../fonts/foundation-icons-social.svg#FoundationIconsSocial") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #dcdcdc; }

#wrap {
  margin-top: 65px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  line-height: 20px; }

.glyph {
  line-height: 0px;
  font-size: 20px;
  font-weight: normal; }

.general {
  font-family: "FoundationIconsGeneral"; }

.social {
  font-family: "FoundationIconsSocial"; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

#main-menu {
  background: -webkit-linear-gradient(#2480bf, #18557e);
  background: -moz-linear-gradient(#2480bf, #18557e);
  background: linear-gradient(#2480bf, #18557e);
  padding: 10px 2%;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); }
  #main-menu a {
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 10px 0 8px;
    margin-right: 2%;
    display: block;
    float: left;
    width: 23.5%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #main-menu a:last-of-type {
      margin-right: 0;
      overflow: hidden;
      width: auto;
      float: none; }
  #main-menu .timeline, #main-menu .logging, #main-menu .profil, #main-menu .search {
    background: -webkit-linear-gradient(#3c9ada, #1c6394);
    background: -moz-linear-gradient(#3c9ada, #1c6394);
    background: linear-gradient(#3c9ada, #1c6394);
    border: 1px solid #18557e;
    -moz-text-shadow: 1px 1px 1px #2072a9;
    text-shadow: 1px 1px 1px #2072a9; }
    #main-menu .timeline:hover, #main-menu .timeline:active, #main-menu .logging:hover, #main-menu .logging:active, #main-menu .profil:hover, #main-menu .profil:active, #main-menu .search:hover, #main-menu .search:active {
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(bottom, #288ed4, #18557e);
      background: -moz-linear-gradient(bottom, #288ed4, #18557e);
      background: linear-gradient(bottom, #288ed4, #18557e); }

.logout {
  background: -webkit-linear-gradient(#8e9699, #5c6365);
  background: -moz-linear-gradient(#8e9699, #5c6365);
  background: linear-gradient(#8e9699, #5c6365);
  border: 1px solid #4f5658;
  -moz-text-shadow: 1px 1px 1px #4f5658;
  text-shadow: 1px 1px 1px #4f5658; }

.follow {
  background: -webkit-linear-gradient(#20c138, #116a1f);
  background: -moz-linear-gradient(#20c138, #116a1f);
  background: linear-gradient(#20c138, #116a1f);
  border: 1px solid #0e5418;
  -moz-text-shadow: 1px 1px 1px #0e5418;
  text-shadow: 1px 1px 1px #0e5418; }

.unfollow {
  background: -webkit-linear-gradient(#ff3c31, #ca0b00);
  background: -moz-linear-gradient(#ff3c31, #ca0b00);
  background: linear-gradient(#ff3c31, #ca0b00);
  border: 1px solid #b10900;
  -moz-text-shadow: 1px 1px 1px #b10900;
  text-shadow: 1px 1px 1px #b10900; }

#main-footer {
  padding: 0 2%;
  height: 50px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(#43494b, #2b2f30);
  background: -moz-linear-gradient(#43494b, #2b2f30);
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.7); }
  @media (min-width: 500px) {
    #main-footer {
      height: 75px; } }
  #main-footer h2 {
    font-family: lobster, cursive;
    line-height: 50px;
    font-size: 30px;
    font-weight: normal;
    color: #dcdcdc;
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: font-size 0.5s;
    float: left; }
    #main-footer h2:hover {
      -webkit-animation: shadowanimation 1s alternate infinite;
      -moz-animation: shadowanimation 1s alternate infinite; }
    @media (max-width: 500px) {
      #main-footer h2 {
        font-size: 20px; } }
    @media (min-width: 500px) {
      #main-footer h2 {
        height: 75px;
        line-height: 75px; } }
  #main-footer a.logout {
    float: right;
    display: block;
    position: relative;
    top: 50%;
    margin-top: -12.5px;
    text-align: center;
    width: 75px;
    height: 25px;
    line-height: 25px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: -webkit-linear-gradient(#5c6365, #373c3d);
    background: -moz-linear-gradient(#5c6365, #373c3d);
    border: 1px solid #2b2f30;
    text-shadow: 1px 1px 1px #43494b; }
    #main-footer a.logout:hover, #main-footer a.logout:active {
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(bottom, #5c6365, #373c3d);
      background: -moz-linear-gradient(bottom, #5c6365, #373c3d); }

@-moz-keyframes shadowanimation {
  0% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  1% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #67b0e2, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  20% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #67b0e2, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  21% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #67b0e2, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  40% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #67b0e2, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  41% {
    text-shadow: 1px 1px 0 #67b0e2, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  60% {
    text-shadow: 1px 1px 0 #67b0e2, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  61% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  80% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5);
    color: #dcdcdc; }

  81% {
    color: #67b0e2; }

  100% {
    color: #67b0e2; } }

@-webkit-keyframes shadowanimation {
  0% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  1% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #67b0e2, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  20% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #67b0e2, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  21% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #67b0e2, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  40% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #67b0e2, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  41% {
    text-shadow: 1px 1px 0 #67b0e2, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  60% {
    text-shadow: 1px 1px 0 #67b0e2, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  61% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5); }

  80% {
    text-shadow: 1px 1px 0 #5c6365, 2px 2px 0 #4f5658, 3px 3px 0 #43494b, 4px 4px 5px rgba(0, 0, 0, 0.5);
    color: #dcdcdc; }

  81% {
    color: #67b0e2; }

  100% {
    color: #67b0e2; } }

.error-message {
  height: 51px;
  width: 80%;
  position: absolute;
  top: -53px;
  left: 50%;
  margin-left: -40%;
  z-index: 999999999;
  border-radius: 0px 0px 7px 7px; }
  .error-message h2 {
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 52px; }

.error-message.positive {
  background: -webkit-linear-gradient(#20c138, #157f25);
  background: -moz-linear-gradient(#20c138, #157f25);
  border: 1px solid #0e5418; }

.error-message.negative {
  background: -webkit-linear-gradient(#e40c00, #b10900);
  background: -moz-linear-gradient(#e40c00, #b10900);
  border: 1px solid #4b0400; }
