#main-menu {
  background: -webkit-linear-gradient(#2480bf, #18557e);
  background: -moz-linear-gradient(#2480bf, #18557e);
  background: linear-gradient(#2480bf, #18557e);
  padding: 10px 2%;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); }
  #main-menu a {
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 10px 0 8px;
    margin-right: 2.7%;
    display: block;
    float: left;
    width: 23%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #main-menu a:last-of-type {
      margin-right: 0; }
  #main-menu .timeline, #main-menu .logging, #main-menu .profil, #main-menu .search {
    background: -webkit-linear-gradient(#3c9ada, #1c6394);
    background: -moz-linear-gradient(#3c9ada, #1c6394);
    background: linear-gradient(#3c9ada, #1c6394);
    border: 1px solid #18557e;
    -moz-text-shadow: 1px 1px 1px #2072a9;
    text-shadow: 1px 1px 1px #2072a9; }
    #main-menu .timeline:hover, #main-menu .timeline:active, #main-menu .logging:hover, #main-menu .logging:active, #main-menu .profil:hover, #main-menu .profil:active, #main-menu .search:hover, #main-menu .search:active {
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(bottom, #288ed4, #18557e);
      background: -moz-linear-gradient(bottom, #288ed4, #18557e);
      background: linear-gradient(bottom, #288ed4, #18557e); }

.logout {
  float: right;
  background: -webkit-linear-gradient(#8e9699, #5c6365);
  background: -moz-linear-gradient(#8e9699, #5c6365);
  background: linear-gradient(#8e9699, #5c6365);
  border: 1px solid #4f5658;
  -moz-text-shadow: 1px 1px 1px #4f5658;
  text-shadow: 1px 1px 1px #4f5658; }

.follow {
  background: -webkit-linear-gradient(#20c138, #116a1f);
  background: -moz-linear-gradient(#20c138, #116a1f);
  background: linear-gradient(#20c138, #116a1f);
  border: 1px solid #0e5418;
  -moz-text-shadow: 1px 1px 1px #0e5418;
  text-shadow: 1px 1px 1px #0e5418; }

.unfollow {
  background: -webkit-linear-gradient(#ff3c31, #ca0b00);
  background: -moz-linear-gradient(#ff3c31, #ca0b00);
  background: linear-gradient(#ff3c31, #ca0b00);
  border: 1px solid #b10900;
  -moz-text-shadow: 1px 1px 1px #b10900;
  text-shadow: 1px 1px 1px #b10900; }

* {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  border: none; }

@font-face {
  font-family: "FoundationIconsGeneral";
  src: url("../fonts/foundation-icons-general.eot");
  src: url("../fonts/foundation-icons-general.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons-general.woff") format("woff"), url("../fonts/foundation-icons-general.ttf") format("truetype"), url("../fonts/foundation-icons-general.svg#FoundationIconsGeneral") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FoundationIconsSocial";
  src: url("../fonts/foundation-icons-social.eot");
  src: url("../fonts/foundation-icons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons-social.woff") format("woff"), url("../fonts/foundation-icons-social.ttf") format("truetype"), url("../fonts/foundation-icons-social.svg#FoundationIconsSocial") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #dcdcdc; }

#wrap {
  margin-top: 65px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  line-height: 20px; }

.glyph {
  line-height: 0px;
  font-size: 20px;
  font-weight: normal; }

.general {
  font-family: "FoundationIconsGeneral"; }

.social {
  font-family: "FoundationIconsSocial"; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }
