#signup h1, #login-area h1, #examples h1, #logotype h1 {
  font-family: lobster, cursive;
  text-align: center;
  color: #67b0e2;
  font-size: 36px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #1c6394, 2px 2px 0 #18557e, 3px 3px 0 #103854;
  margin-bottom: 2%; }
#signup h2, #signup h3, #login-area h2, #login-area h3, #examples h2, #examples h3, #logotype h2, #logotype h3 {
  text-align: center;
  font-family: lobster, cursive;
  font-weight: normal; }
#signup h2, #login-area h2, #examples h2, #logotype h2 {
  margin: 2% 0 2% 0;
  color: #1c6394;
  font-size: 26px; }
#signup h3, #login-area h3, #examples h3, #logotype h3 {
  margin-bottom: 4%;
  color: #2480bf; }
#signup form, #login-area form, #examples form, #logotype form {
  background: #c3c3c3;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 2%;
  position: relative;
  padding: 4% 2%; }
#signup input[type=text], #signup input[type=password], #login-area input[type=text], #login-area input[type=password], #examples input[type=text], #examples input[type=password], #logotype input[type=text], #logotype input[type=password] {
  display: block;
  -moz-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3), inset 0 0 0 1px #c3c3c3;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3), inset 0 0 0 1px #c3c3c3;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  font-size: 15px;
  width: 100%;
  padding: 6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin-bottom: 2%; }
#signup input[name=workoutname], #login-area input[name=workoutname], #examples input[name=workoutname], #logotype input[name=workoutname] {
  margin-bottom: 2%; }
#signup input[name=weight], #signup input[name=reps], #signup input[name=sets], #login-area input[name=weight], #login-area input[name=reps], #login-area input[name=sets], #examples input[name=weight], #examples input[name=reps], #examples input[name=sets], #logotype input[name=weight], #logotype input[name=reps], #logotype input[name=sets] {
  width: 32%;
  margin-right: 2%;
  display: block;
  float: left; }
#signup input[name=sets], #login-area input[name=sets], #examples input[name=sets], #logotype input[name=sets] {
  width: 32%;
  margin-right: 0;
  float: right; }
#signup input[type=submit], #login-area input[type=submit], #examples input[type=submit], #logotype input[type=submit] {
  display: block;
  width: 100px;
  margin: 0 auto;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 0 8px;
  cursor: pointer;
  margin-top: 4%;
  background: -webkit-linear-gradient(#3c9ada, #1c6394);
  background: -moz-linear-gradient(#3c9ada, #1c6394);
  background: linear-gradient(#3c9ada, #1c6394);
  border: 1px solid #18557e;
  -moz-text-shadow: 1px 1px 1px #2072a9;
  text-shadow: 1px 1px 1px #2072a9; }
  #signup input[type=submit]:hover, #signup input[type=submit]:active, #login-area input[type=submit]:hover, #login-area input[type=submit]:active, #examples input[type=submit]:hover, #examples input[type=submit]:active, #logotype input[type=submit]:hover, #logotype input[type=submit]:active {
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, #288ed4, #18557e);
    background: -moz-linear-gradient(bottom, #288ed4, #18557e);
    background: linear-gradient(bottom, #288ed4, #18557e); }

#signup, #login-area, #examples {
  padding: 2%; }

#signup {
  border-bottom: 2px solid #4f5658;
  padding-bottom: 4%; }

#logotype {
  border-bottom: 2px solid #4f5658;
  padding-bottom: 8%;
  padding-top: 8%;
  margin-top: -2%;
  margin-bottom: 2%;
  background: #c4c8c9; }
  #logotype h2 {
    margin-top: 0;
    color: #2480bf;
    text-shadow: 0px 0px 2px #dcdcdc; }

#examples {
  padding-top: 4%; }
  #examples h2 {
    margin-bottom: 4%; }

#main-menu form {
  overflow: hidden; }
#main-menu input[type=text], #main-menu input[type=password] {
  display: block;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-appearance: none;
  font-size: 15px;
  width: 36%;
  float: left;
  margin-right: 2%;
  padding: 6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(#3c9ada, #1c6394);
  background: -moz-linear-gradient(#3c9ada, #1c6394);
  background: linear-gradient(#3c9ada, #1c6394);
  border: 1px solid #18557e;
  outline: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }
  #main-menu input[type=text]::-webkit-input-placeholder, #main-menu input[type=password]::-webkit-input-placeholder {
    color: #144669; }
  #main-menu input[type=text]:-moz-placeholder, #main-menu input[type=password]:-moz-placeholder {
    color: #dcdcdc;
    font-weight: bold; }
  #main-menu input[type=text]:focus, #main-menu input[type=password]:focus {
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3); }
#main-menu input[type=submit] {
  display: block;
  width: 24%;
  float: right;
  border-radius: 7px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
  background: -webkit-linear-gradient(#3c9ada, #1c6394);
  background: -moz-linear-gradient(#3c9ada, #1c6394);
  background: linear-gradient(#3c9ada, #1c6394);
  border: 1px solid #18557e;
  -moz-text-shadow: 1px 1px 1px #2072a9;
  text-shadow: 1px 1px 1px #2072a9; }
  #main-menu input[type=submit]:hover, #main-menu input[type=submit]:active {
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, #288ed4, #18557e);
    background: -moz-linear-gradient(bottom, #288ed4, #18557e);
    background: linear-gradient(bottom, #288ed4, #18557e); }
