<<<<<<< HEAD
/*
Syntax error: Undefined variable: "$bluedarken20".
        on line 2 of sass/masthead.sass

1: #main-menu
2:   background: -webkit-linear-gradient($bluedarken20, $bluedarken35)
3:   background: linear-gradient($bluedarken20, $bluedarken35)
4:   padding: 10px $generalpadding
5:   text-align: center
6:   // +0.1 fixes a 1px spacing on the right side, very weird indeed
7:   width: 100%

Backtrace:
sass/masthead.sass:2
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/script/variable.rb:49:in `_perform'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/script/funcall.rb:76:in `_perform'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/script/funcall.rb:76:in `map'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/script/funcall.rb:76:in `_perform'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/engine.rb:299:in `_render'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/engine.rb:246:in `render'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin/compiler.rb:298:in `watch'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin/compiler.rb:306:in `watch'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/Kvistgaard/.gem/ruby/1.8/gems/sass-3.1.18/bin/sass:8
/Users/Kvistgaard/.gem/ruby/1.8/bin/sass:19:in `load'
/Users/Kvistgaard/.gem/ruby/1.8/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$bluedarken20\".\A         on line 2 of sass/masthead.sass\A \A 1: #main-menu\A 2:   background: -webkit-linear-gradient($bluedarken20, $bluedarken35)\A 3:   background: linear-gradient($bluedarken20, $bluedarken35)\A 4:   padding: 10px $generalpadding\A 5:   text-align: center\A 6:   // +0.1 fixes a 1px spacing on the right side, very weird indeed\A 7:   width: 100%"; }
=======
#main-menu {
  background: -webkit-linear-gradient(#2480bf, #18557e);
  background: linear-gradient(#2480bf, #18557e);
  padding: 10px 2%;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box; }
  #main-menu a {
    border-radius: 7px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 10px 0 8px;
    margin-right: 2.667%;
    display: inline-block;
    width: 23%;
    box-sizing: border-box; }
    #main-menu a:last-of-type {
      margin-right: 0; }
  #main-menu .timeline, #main-menu .log, #main-menu .profil, #main-menu .search {
    background: -webkit-linear-gradient(#3c9ada, #1c6394);
    background: linear-gradient(#3c9ada, #1c6394);
    border: 1px solid #18557e;
    text-shadow: 1px 1px 1px #2072a9; }
    #main-menu .timeline:hover, #main-menu .timeline:active, #main-menu .log:hover, #main-menu .log:active, #main-menu .profil:hover, #main-menu .profil:active, #main-menu .search:hover, #main-menu .search:active {
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(bottom, #288ed4, #18557e); }
>>>>>>> master
