#main-menu {
  background: -webkit-linear-gradient(#2480bf, #18557e);
  background: -moz-linear-gradient(#2480bf, #18557e);
  background: linear-gradient(#2480bf, #18557e);
  padding: 10px 2%;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); }
  #main-menu a {
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 10px 0 8px;
    margin-right: 2%;
    display: block;
    float: left;
    width: 23.5%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #main-menu a:last-of-type {
      margin-right: 0;
      overflow: hidden;
      width: auto;
      float: none; }
  #main-menu .timeline, #main-menu .logging, #main-menu .profil, #main-menu .search {
    background: -webkit-linear-gradient(#3c9ada, #1c6394);
    background: -moz-linear-gradient(#3c9ada, #1c6394);
    background: linear-gradient(#3c9ada, #1c6394);
    border: 1px solid #18557e;
    -moz-text-shadow: 1px 1px 1px #2072a9;
    text-shadow: 1px 1px 1px #2072a9; }
    #main-menu .timeline:hover, #main-menu .timeline:active, #main-menu .logging:hover, #main-menu .logging:active, #main-menu .profil:hover, #main-menu .profil:active, #main-menu .search:hover, #main-menu .search:active {
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(bottom, #288ed4, #18557e);
      background: -moz-linear-gradient(bottom, #288ed4, #18557e);
      background: linear-gradient(bottom, #288ed4, #18557e); }

.logout {
  background: -webkit-linear-gradient(#8e9699, #5c6365);
  background: -moz-linear-gradient(#8e9699, #5c6365);
  background: linear-gradient(#8e9699, #5c6365);
  border: 1px solid #4f5658;
  -moz-text-shadow: 1px 1px 1px #4f5658;
  text-shadow: 1px 1px 1px #4f5658; }

.follow {
  background: -webkit-linear-gradient(#20c138, #116a1f);
  background: -moz-linear-gradient(#20c138, #116a1f);
  background: linear-gradient(#20c138, #116a1f);
  border: 1px solid #0e5418;
  -moz-text-shadow: 1px 1px 1px #0e5418;
  text-shadow: 1px 1px 1px #0e5418; }

.unfollow {
  background: -webkit-linear-gradient(#ff3c31, #ca0b00);
  background: -moz-linear-gradient(#ff3c31, #ca0b00);
  background: linear-gradient(#ff3c31, #ca0b00);
  border: 1px solid #b10900;
  -moz-text-shadow: 1px 1px 1px #b10900;
  text-shadow: 1px 1px 1px #b10900; }

#main-menu form {
  overflow: hidden; }
#main-menu input[type=text], #main-menu input[type=password] {
  display: block;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-appearance: none;
  font-size: 15px;
  width: 36%;
  float: left;
  margin-right: 2%;
  padding: 6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(#3c9ada, #1c6394);
  background: -moz-linear-gradient(#3c9ada, #1c6394);
  background: linear-gradient(#3c9ada, #1c6394);
  border: 1px solid #18557e;
  outline: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }
  #main-menu input[type=text]::-webkit-input-placeholder, #main-menu input[type=password]::-webkit-input-placeholder {
    color: #144669; }
  #main-menu input[type=text]:-moz-placeholder, #main-menu input[type=password]:-moz-placeholder {
    color: #dcdcdc;
    font-weight: bold; }
  #main-menu input[type=text]:focus, #main-menu input[type=password]:focus {
    opacity: 1;
    background: white;
    -moz-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3); }
#main-menu input[type=submit] {
  display: block;
  width: 24%;
  float: right;
  border-radius: 7px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
  background: -webkit-linear-gradient(#3c9ada, #1c6394);
  background: -moz-linear-gradient(#3c9ada, #1c6394);
  background: linear-gradient(#3c9ada, #1c6394);
  border: 1px solid #18557e;
  -moz-text-shadow: 1px 1px 1px #2072a9;
  text-shadow: 1px 1px 1px #2072a9; }
  #main-menu input[type=submit]:hover, #main-menu input[type=submit]:active {
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, #288ed4, #18557e);
    background: -moz-linear-gradient(bottom, #288ed4, #18557e);
    background: linear-gradient(bottom, #288ed4, #18557e); }
