#search {
  padding: 2%; }
  #search form input[type=text] {
    border-radius: 4px;
    border: 2px solid #8e9699;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 2% 2% 2% 24px;
    margin-bottom: 2%;
    font-size: 15px;
    position: relative;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3); }
    #search form input[type=text]:before {
      content: "=";
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 6px;
      color: #cccccc;
      font-family: "FoundationIconsGeneral"; }
    #search form input[type=text]:focus:before {
      color: black; }
  #search form p {
    margin-bottom: 2%;
    color: #8e9699;
    font-size: 12px;
    text-align: center; }
  #search form input[type=submit] {
    display: block;
    width: 100px;
    margin: 0 auto;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 8px;
    margin-bottom: 2%;
    background: -webkit-linear-gradient(#20c138, #116a1f);
    background: linear-gradient(#20c138, #116a1f);
    border: 1px solid #0e5418;
    text-shadow: 1px 1px 1px #0e5418; }
    #search form input[type=submit]:hover, #search form input[type=submit]:active {
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(bottom, #20c138, #116a1f);
      background: linear-gradient(bottom, #20c138, #116a1f); }
