#wrap {
  margin-top: 56px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; }

#timeline .log {
  padding: 2%;
  border-bottom: 1px solid #8e9699;
  float: left;
  width: 96.1%; }
  #timeline .log:nth-child(even) {
    background: #c3c3c3; }
  #timeline .log img {
    float: left;
    margin-right: 2%; }
  #timeline .log div.log-title {
    float: left; }
    #timeline .log div.log-title p.profile-name {
      font-weight: bold; }
