@import "global.sass"

.login
  background: -webkit-linear-gradient($bluedarken10, darken($blue, 30%))
  border: 1px solid darken($blue, 35%)
  text-shadow: 1px 1px 1px darken($blue, 25%)

.logout
  float: right
  background: -webkit-linear-gradient($darkgray, $darkgraydarken20)
  border: 1px solid $darkgraydarken25
  text-shadow: 1px 1px 1px $darkgraydarken25

.follow
  background: -webkit-linear-gradient($green, $greendarken20)
  border: 1px solid $greendarken25
  text-shadow: 1px 1px 1px $greendarken25

.unfollow
  background: -webkit-linear-gradient($red, $reddarken20)
  border: 1px solid $reddarken25
  text-shadow: 1px 1px 1px $reddarken25
