@import "vars.sass"

//////////////////////////////////////
// TIMELINE //////////////////////////
//////////////////////////////////////

#timeline
  .log
    padding: $generalpadding
    border-bottom: 1px solid $darkgray
    float: left
    width: 100% - ($generalpadding * 2) + 0.1
    &:nth-child(even)
      background: darken($lightgray, 10%)
    .profile-picture
      width: 48px
      height: 48px
      border-radius: 4px
      border: 1px solid $darkgray
      overflow: hidden
      float: left
      margin-right: $generalpadding
    div.log-title
      float: left
      p
        margin-bottom: 5px
      p.profile-name
        font-weight: bold

