@import "vars.sass"

//////////////////////////////////////
// TIMELINE //////////////////////////
//////////////////////////////////////

#timeline
  .log
    padding: $generalpadding 0px 0px 0px
    border-bottom: 2px solid $darkgray
    &:nth-child(even)
      background: darken($lightgray, 5%)
  .log-header
    padding: 0px $generalpadding
    position: relative
    .log-time
      position: absolute
      right: $generalpadding
      top: 0
      font-size: 12px
      color: $darkgray
    .profile-picture
      width: 48px
      height: 48px
      border-radius: 4px
      border: 1px solid $darkgray
      overflow: hidden
      float: left
      margin-right: $generalpadding
    div.log-title
      p.profile-name
        font-weight: bold
  .log-footer
    text-align: center
    font-size: 12px
    .log-expand
      cursor: pointer
      user-select: none
      color: $darkgray
      display: inline-block
      margin-bottom: $generalpadding
    .expanded-log
      display: none
      background: darken($lightgray, 20%)
      padding: $generalpadding
      //box-shadow: inset 0px 2px 1px $darkgray, inset 0px -2px 1px $darkgray
      text-align: left
      .expanded-log-text
        padding-left: $generalpadding*2
        margin-bottom: $generalpadding
        float: left
      .glyph
        font-size: 13px
      p
        float: left
        margin-right: 15px
        font-size: medium
        a
          color: $darkgraydarken25
          font-size: 12px
      .log-favorite a:hover 
        color: rgb(240,210,0)
      .log-comment a:hover
        color: $bluedarken25
