@import "vars.sass"

//////////////////////////////////////
// TIMELINE //////////////////////////
//////////////////////////////////////

#timeline
  .log
    padding: $generalpadding 0px 0px 0px
    border-bottom: 1px solid $darkgray
    &:nth-child(even)
      background: darken($lightgray, 10%)
  .log-header
    padding: 0px $generalpadding
    .profile-picture
      width: 48px
      height: 48px
      border-radius: 4px
      border: 1px solid $darkgray
      overflow: hidden
      float: left
      margin-right: $generalpadding
    div.log-title
      p
        margin-bottom: 5px
      p.profile-name
        font-weight: bold
  .log-footer
    text-align: center
    font-size: 12px
    .log-expand
      cursor: pointer
      user-select: none
      color: $darkgray
      display: inline-block
      margin-bottom: $generalpadding
    .expanded-log
      display: none
      background: darken($lightgray, 20%)
      padding: $generalpadding
      box-shadow: inset 0px 2px 1px $darkgray, inset 0px -2px 1px $darkgray
      text-align: left
