//////////////////////////////////////
// COLORS ////////////////////////////
//////////////////////////////////////

$blue: #67b0e2
$bluedarken10: darken($blue, 10%)
$bluedarken15: darken($blue, 15%)
$bluedarken20: darken($blue, 20%)
$bluedarken25: darken($blue, 25%)
$bluedarken30: darken($blue, 30%)
$bluedarken35: darken($blue, 35%)
$bluedarken40: darken($blue, 40%)
$bluedarken45: darken($blue, 45%)

$red: #ff3c31
$reddarken20: darken($red, 20%)
$reddarken25: darken($red, 25%)

$green: #20c138
$greendarken20: darken($green, 20%)
$greendarken25: darken($green, 25%)

$lightgray: rgb(220,220,220)

$darkgray: rgb(142,150,153)
$darkgraydarken20: darken($darkgray, 20%)
$darkgraydarken25: darken($darkgray, 25%)

//////////////////////////////////////
// DISTANCES /////////////////////////
//////////////////////////////////////

$generalpadding: 2%
